.srm-banner {
    background: linear-gradient(60deg, var(--russian-violet) 10%, var(--viridian-green));
    text-align: center;
    font-weight: bolder;
    padding: 0 0 3vh 0;
}
.srm-banner h1 {
    font-family: "Oleo Script";
    font-size: 150px;
    color:var(--viridian-green);
    text-shadow: 10px 10px 0 var(--russian-violet), 15px 15px 0px var(--bittersweet);
    letter-spacing: -10px;
    margin:0;
}
.srm-banner p {
    font-size: xx-large;
    font-family: "Libre Franklin";
    color: var(--platinum);
}
.srm-banner form input {
    padding: 0.5rem 0.5rem;
    border: none;
    width:10vw;
    margin-right:1vw;
  }
.srm-banner form {
    margin-top:2vh;
}

.srm-add-stakeholder-btns {
    display: flex;
    justify-content: space-evenly;
}

.srm-content {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.srm-card {
    text-align: center;
    border-radius: 10px;
    width: 700px;
    color: var(--russian-violet);
    background-color: var(--bittersweet);
    box-shadow: 5px 10px 0px var(--russian-violet);
    margin: 1vh 1vh;
    padding: 0 0 2vh 0;
}
.srm-card:hover {
    box-shadow: 10px 15px 0px var(--viridian-green);
    transform: translateY(-4px);
    cursor: pointer;
}
.srm-card:active {
    box-shadow: 5px 10px 0px var(--viridian-green);
    transform: translateY(0px);
}

.srm-cards {
    display:flex;
    flex-direction: column;
    padding-top: 1vh;
    flex-wrap: wrap;
    margin: 0 3vh;
}
.srm-cards h3, .srm-cards p {
    color: var(--russian-violet);
}

.srm-functions {
    padding-top:2rem;
    display: flex;
    flex-direction: column;
    width:fit-content;
    margin: 0 auto;
}
.srm-functions form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.srm-functions form input {
    padding: 0.5rem 0.5rem;
    border: none;
    width:15vw;
    margin: 0.5vh 0.5vh;
}

.srm-detail {
    display: flex;
    flex-direction: column;
    padding: 3vh 2vw;
    width:800px;
    height: min-content;
    margin: 2vh 0;
}
.srm-detail h1, h2, h3, p{
    color: var(--ebony)
}
.srm-detail h1 {
    margin: 0 0 1vh 0;
    color: var(--russian-violet);
    box-shadow: inset 0 -15px 0 var(--bittersweet);
}
.srm-detail h2 {
    margin: 0 0 0.5vh 0;
}
.srm-detail h3, p {
    margin: 0;
}
.srm-detail h3 {
    margin-top: 1vh;
}
.srm-detail form {
    display: flex;
    flex-direction: column;
    width: min-content;
}
.srm-detail form input::placeholder {
    color:var(--ebony);
    opacity: 1;
}
.srm-detail form input {
    padding: 0.5rem 0.5rem;
    border: none;
    width:15vw;
    margin: 0.5vh 0;
    font-size: large;
    font-family: "Libre Franklin";
    caret-color: var(--ebony);
    color:var(--russian-violet);
}


@media screen and (max-width: 1400px) {
    .srm-add-stakeholder-btns {
        flex-direction: column;
        width: 100%;
    }
    .srm-banner h1 {
        font-size: 50px;
        letter-spacing: -3px;
        text-shadow: 3px 3px 0 var(--russian-violet), 6px 6px 0px var(--bittersweet);
    }
    .srm-banner p {
        font-size: medium;
    }
    .srm-banner button {
        width: auto;
        margin:auto;
    }
    .srm-banner form {
        display:flex;
        flex-direction: row;
        width: 80%;
        margin: 2vh auto 0 auto;
    }
    .srm-banner form input {
        width:100%;
        text-align: center;
        margin: auto;
        margin-right: 1rem;
    }
    .srm-card {
        width:90%;
        margin-top: 2vh;
        margin-left: auto;
        margin-right: auto;
    }
    .srm-cards {
        padding: 0;
        flex-direction: column;
    }
    .srm-detail {
        width: 80vw;
        margin:auto;
    }    
    .srm-functions button {
        margin: 0 0 1vh 0 ;
    }
    .srm-functions form input {
        width:100%;
    }
    .srm-content {
        flex-direction: column;
    }
}