@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Devanagari);

@import url(https://fonts.googleapis.com/css?family=Libre+Franklin);

@import url(https://fonts.googleapis.com/css?family=Oleo+Script);


:root {
  --russian-violet: #320e3b;
  --bittersweet: #f87060;
  --platinum: #e7e7e7;
  --viridian-green: #32908f; /* 50, 144, 143 */
  --ebony: #545c52;
}
.navbar {
  background-color: var(--platinum);
  display: flex;
  justify-content: center;
  margin:auto;
}
.navbar-btn {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-weight: 700;
  transition: all 0.1s;
  color: var(--ebony)
}
.navbar-btn:hover {
  color: var(--russian-violet);
}
.hero {
  padding: 3em 3em 7em 25%;
  background-color: var(--russian-violet);
  color: var(--platinum);
}
.cards {
  padding-top:3em;
  padding-bottom:2em;
  display: flex;
  margin: auto;
  justify-content:space-evenly;
  width: 50%;
}
.card-background{
  border-radius: 5px;
  position: absolute;
  width:100%;
  height:100%;
  background: linear-gradient(rgba(50, 144, 143,1.0), rgba(50, 144, 143,0.9), rgba(50, 144, 134,0.6))
}
.card-image {
  box-shadow: 0 2px 2px var(--ebony);
  border-radius: 5px;
  transition: all 0.1s;
  cursor: pointer;
  background-color: var(--viridian-green);
  background-size: auto 100%;
  background-position: center;
  position: relative;
  width:250px;
  height:300px;
}
.card-image:hover {
  box-shadow: 0 10px 15px var(--ebony);
}
.card-image:active {
  box-shadow: 0 2px 5px var(--ebony);
  transform: translateY(4px);
}
.card-text {
  color: var(--platinum);
  text-align: center;
}

body {
  font-family: "IBM Plex Sans Devanagari", serif;
  margin: 0;
  color: var(--ebony);
  background-color: #e7e7e7;
  background-color: var(--platinum);
}

h1, h3 {
  font-family: "Libre Franklin", sans-serif;
}

button {
  background-color: var(--bittersweet);
  padding: 0.5em 3em;
  transition: all 0.1s;
  cursor: pointer;
  color: var(--russian-violet);
  border-radius: 15px;
  border-style: solid;
}
button,
button:hover {
  border-color: var(--bittersweet);
}
button:hover {
  background-color: rgba(0,0,0,0);
  color: var(--bittersweet);
  border-width: 2px;
}

.logo {
  font-family: "Oleo Script", serif;
  font-size: 50px;
  color: var(--);
  margin: auto;
  letter-spacing: -2px;
  font-weight: bolder;
}

@media screen and (max-width: 1920px) {
  .card-image {
    width: auto;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  .cards {
    width: 100%;
    flex-direction: column;
  }
}
