@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Devanagari");

:root{
    --russian-violet:#320E3B;
    --bittersweet:#F87060;
    --platinum:#E7E7E7;
    --viridian-green:#32908F;
    --ebony:#545C52
}

.navbar {
    background-color: var(--platinum);
    text-align: center;
    line-height: 50px;
    color:var(--ebony);
    height: 50px;
    display: flex;
    width: 75%;
}

.navbar-btn {
    cursor:pointer;
    background-color: transparent;
    color: var(--ebony);
    border: 0;
    font-weight: bold;
    transition: all 0.1s;
}
.navbar-btn:hover {
    color:var(--russian-violet);
}

.hero {
    padding: 3em;
    padding-bottom: 7em;
    padding-left: 25%;
    background-color: var(--russian-violet);
    color: var(--platinum);
}

.cards {
    padding: 3em;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.card {
    padding-top: 10em;
    padding-bottom: 10em;
    padding-left: 8em;
    padding-right: 8em;
    background-color: var(--viridian-green);
    text-align: center;
    color:var(--platinum);
    box-shadow: 0px 5px 5px var(--ebony);
    border-radius: 20px;
    transition: all 0.1s;
    cursor: pointer;
}
.card:hover {
    box-shadow: 0px 10px 15px var(--ebony);
}

body {
    font-family: 'IBM Plex Sans Devanagari', serif;
    margin:0;
    color:var(--ebony);
    background-color: var(--platinum);
}

button {
    background-color: var(--bittersweet);
    padding: 0.5em 3em;
    transition: all 0.1s;
    cursor: pointer;
    color:var(--platinum);
    border-color: var(--bittersweet);
    border-radius: 15px;
    border-style:solid;
}

button:hover {
    background-color: var(--platinum);
    color: var(--bittersweet);
    border-color: var(--bittersweet);
    border-width: 2px;
}