@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Devanagari);

@import url(https://fonts.googleapis.com/css?family=Libre+Franklin);

@import url(https://fonts.googleapis.com/css?family=Oleo+Script);


:root {
  --russian-violet: rgb(50, 14, 59);
  --bittersweet: #f87060;
  --light-platinum: #e6e6e6;
  --platinum: #e7e7e7;
  --dark-platinum: hsl(0, 0%, 80%);
  --viridian-green: #32908f; /* 50, 144, 143 */
  --ebony: rgb(84, 92, 82);
}
.banner {
  display: flex;
  background-color: var(--russian-violet);
}
.navbar {
  display: flex;
  justify-content: center;
  margin:auto;
}
.logo a,
.navbar-btn {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-weight: bold;
  transition: all 0.1s;
  color: var(--viridian-green);
  text-decoration: none;
  margin-left: 1rem;
  margin-right:1rem;
  font-family: "Libre Franklin", serif;
}
.logo a:hover, .navbar-btn:hover {
  color: var(--platinum);
}
.content {
  width:90%;
  margin: auto;
}
.hero {
  color: var(--platinum);
  background: linear-gradient(60deg, var(--russian-violet) 10%, var(--bittersweet));
  display: flex;
  justify-content: center;
  height: 40vh;
  flex-direction: column;
}
.hero-text {
  margin-top:auto;
  margin-bottom:auto;
}
.hero-text h3 {
  color: var(--platinum);
}
.hero-card {
  background-color: var(--platinum);
  color: var(--ebony);
  margin-left:6em;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 5px 10px 25px 20px rgba(50, 14, 59, 0.2);
  transition: 0.1s;
  display:flex;
  margin-top:auto;
  margin-bottom:auto;
}
.hero-card:hover{
  transform: translateY(5px);
  box-shadow: 5px 10px 40px 30px rgba(50, 14, 59, 0.2);
}
.hero-gradient-text {
  background: linear-gradient(45deg, var(--ebony), transparent);
  background-clip: text;
  color:transparent;
}
.hero-icon {
  margin:auto;
  padding-right:2rem;
}
.hero-logo {
  font-family: "Oleo Script";
  font-size: 150px;
  letter-spacing:-10px;
  font-weight:bolder;
  color:var(--bittersweet);
  text-shadow: 10px 10px 0 var(--russian-violet), 15px 15px 0px var(--viridian-green);
}
.hero-body {
  display:flex;
  flex-direction:row;
  margin:auto;
  padding-bottom: 5rem;
}
.hero-card h2, .hero-card h3 {
  color: var(--ebony);
}

.cards {
  padding-top:3em;
  padding-bottom:2em;
  display: flex;
  margin: auto;
  justify-content:space-evenly;
  width: 75%;
}
.card-image {
  border-radius: 5px;
  transition: all 0.1s;
  cursor: pointer;
  background-color: var(--viridian-green);
  background-size: auto 100%;
  background-position: center;
  position: relative;
  width:12vw;
  height:400px;
}
.card-image:hover {
  box-shadow: 0 10px 15px var(--ebony);
}
.card-image:active {
  box-shadow: 0 2px 5px var(--ebony);
  transform: translateY(4px);
}
.card-text {
  background: linear-gradient(rgba(50, 144, 143,1.0), rgba(50, 144, 143,0.9), rgba(50, 144, 134,0.6));
  color: var(--platinum);
  text-align: center;
  height: 380px;
  border-radius: 5px;
  padding-top:20px;
}

.titanic-survivor-super {
  background: linear-gradient(60deg, var(--russian-violet) 10%, var(--viridian-green));
}

.titanic-survivor-parent {
  display: flex;
  color: var(--platinum);
  flex-direction: row;
  width:60%;
  margin: auto;
}

.titanic-survivor {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width:40%;
}

.titanic-survivor h1,
.titanic-survivor h2,
.titanic-survivor h3 {
  text-align: center;
}
.titanic-survivor form {
  display: flex;
  flex-direction: column;
  margin:auto;
}

.titanic-survivor form input,
.titanic-survivor form select,
.titanic-survivor form control {
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.5rem 0.5rem;
  border: none;
}

.titanic-survivor a {
  color: var(--platinum);
}

.titanic-survivor p {
  word-break: normal;
  white-space: normal;
  text-align: justify;
}

body {
  font-family: "IBM Plex Sans Devanagari", serif;
  margin: 0;
  color: var(--ebony);
  background-color: #e7e7e7;
  background-color: var(--platinum);
}

h1, h3 {
  font-family: "Libre Franklin", sans-serif;
}

button {
  background-color: var(--bittersweet);
  cursor: pointer;
  font-weight: bold;
  border-style: solid;
  border-radius: 10px;
  padding: 0.5em 3em;
  color: var(--russian-violet);
  border-color: var(--bittersweet);
}

button:hover {
  box-shadow: 3px 5px 0px var(--viridian-green);
  transform: translateY(-2px);
  cursor: pointer;
}
button:active{
  box-shadow: 3px 3px 0px var(--viridian-green);
  transform: translateY(0px);
}

.logo, .logo a {
  font-family: "Oleo Script", serif;
  font-size: 50px;
  margin: auto;
  letter-spacing: -2px;
  font-weight: bolder;
  text-decoration: none;
}
@media screen and (max-width: 1400px) {
  .banner {
    flex-direction: column;
  }
  .content {
    width: 100%;
  }
  .cards {
    padding: 0;
  }
  .card-text {
    height:100%;
    padding-top:0px;
    border-radius: 0px;
  }
  .card-text h3 {
    line-height:70px;
  }
  .card-text p {
    line-height: 0px;
    font-weight: bold;
  }
  .card-image {
    width: auto;
    border-radius: 0px;
    box-shadow: none;
    background-position: center;
    background-size: cover;
    height:150px;
  }
  .card-image:hover {
    box-shadow: none;
  }
  .card-image:active {
    box-shadow: none;
    transform: none;
  }
  .card-background {
    border-radius: 0px;
  }
  .cards {
    width: 100%;
    flex-direction: column;
  }
  .hero {
    padding:  10%;
    flex-direction: column;
    height: 100vh;
  }
  .hero-card {
    margin-left:0;
    margin-top:3rem;
    flex-direction: column;
    justify-content: center;
  }
  .hero-icon {
    text-align: center;
    padding:0;
  }
  .hero-logo {
    font-family: "Oleo Script";
    font-size: 50px;
    letter-spacing: 0px;
    font-weight:bolder;
    color:var(--bittersweet);
    text-shadow: 5px 5px 0 var(--russian-violet), 10px 10px 0px var(--viridian-green);
  }  
  .hero-body {
    padding-bottom: 0;
    flex-direction: column;
  }
  .navbar {
    padding-bottom: 1em;
  }
  .titanic-survivor {
    width:80%;
  }
  .titanic-survivor-parent {
    flex-direction: column;
    width: 100%;
  }
}
/* .about {
  display: flex;
  margin-left: auto;
  justify-content: space-evenly;
  flex-direction: row;
  width: 70%;
}
.about-sections {
  background-color: var(--dark-platinum);
  border-radius: 20px;
}
.about-sections ul {
  list-style: none;
  padding-left: 2rem;
  padding-right: 2rem;
}
.about-sections li {
  border-radius:5px;
  padding: 1rem;
  margin: 20px;
  color: var(--ebony);
  list-style: none;
}
.about-sections li:hover {
  background-color: var(--light-platinum);
  cursor: pointer;
}
.about-text {
  margin-right: auto;
  padding-left: 5rem;
} */
